@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

body {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}


input{
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgba(128, 128, 128, 0.555);
    border-color: transparent;
    text-align: center;
    display:block;
    padding: 0;
    margin: 0
}

textarea{
    display: block;
    font-size: 50px;
    font-family: 50px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: rgba(128, 128, 128, 0.555);
    border-color: transparent;
    display: inline-block;
    padding: 0;
    margin: 0
}